body{
  background-color: #444;
  color: #ddd;
  font-family: monospace;
}

.container{
  border: 1px solid #ddd;
  width: 70%;
}

.row-6{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.center{
  display: flex;
  justify-content: center;
  text-align: center;
}

.margin-lg{
  margin: 30px 0;
}

.btn, .input-text{
  width: 85%;
  padding: 2%;
}

.btn-primary{
  color: #22f;
}

#result{
  border: 1px solid #ddd;
}

@media (max-width: 800px) {
  .row-6{
    display: grid;
    grid-template-columns: 1fr;
  }

  h1, h2{
    font-size: 20px;
  }
}

@media (max-width: 300px) {
  h1, h2{
    font-size: 16px;
  }

  .container{
    width: 99%;
  }
}